---
import Article from "./Article.astro";
---
<div class="bg-white py-24 sm:py-32" id="articles">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-4xl">
            <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">Latest Articles</h2>
            <p class="mt-2 text-lg/8 text-gray-600">Explore in-depth tutorials, tips, and guides to enhance your web development journey.</p>
            <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">
                <Article />
            </div>
        </div>
    </div>
</div>
