---
import Article from "./article.astro";
---

<div class="bg-gray-900 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-balance text-4xl font-semibold tracking-tight text-white sm:text-5xl">Latest Articles</h2>
            <p class="mt-2 text-lg/8 text-gray-400">Stay up to date with the latest web development trends, tutorials, and tips from our expert community.</p>
        </div>
        <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            <Article />
            <Article />
            <Article />
        </div>
    </div>
</div>
