---
import Header from "../components/layout/Header";
import Footer from "../components/layout/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
        <Header client:load />
        <main class="mt-12">
            <slot />
        </main>
        <Footer />
	</body>
</html>
