---
import Header from "../components/layout/header";
import Footer from "../components/layout/footer.astro";
---

<!doctype html>
<html lang="en" class="h-full" style="scrollbar-gutter: stable both-edges;">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="min-h-screen h-full bg-gray-900">
        <Header client:load />
        <main class="min-h-screen">
            <slot />
        </main>
        <Footer />
	</body>
</html>
